{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/plugin-proposal-export-namespace-from",
    ["module-resolver", {
      "alias": {
        "iconmoon": "./icomoon.json",
        "@": "./app/src",
        "@res": "./app/res",
        "@configs": "./app/configs"
      },
      "extensions": [".js", ".tsx"]
    }]
  ]
}